* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body.margin {
  margin-top: -16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Loader */
#os-loader {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 76px;
  height: 100vh;
}

#os-loader p {
  position: relative;
  top: -30px;
  animation: loading_anim 2.5s infinite;
}

/* Background */
#os-background {
  background-image: url("https://images.pexels.com/photos/3472764/pexels-photo-3472764.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#os-background.opacity {
  opacity: 0.15;
}

#os-background p {
  color: whitesmoke;
  font-family: monospace;
  font-size: 0.87rem;
  position: absolute;
  right: 10px;
  bottom: 53px;
}

/* Taskbar */
#os-taskbar {
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.8);
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.apps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apps button {
  border: none;
  background: none;
  color: white;
  padding: inherit;
}

.app {
  font-size: 34px;
  margin: 0 7px 0 11px;
}

.menu {
  width: 40px;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin: 5px 0 5px 8px;
}

.menu-square {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #47b895;
}

#clock h3 {
  font-size: 27px;
  margin: 12px;
}

/* Menu Layout */
.menu-layout {
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  border-radius: 12px 12px 0 0;
  width: 330px;
  height: 465px;
  position: absolute;
  bottom: 61px;
}

.menu-apps-layout {
  width: 100%;
  height: 100%;
  display: flex;
}

.menu-layout .menu-apps {
  width: 100%;
  height: 89%;
  position: relative;
}

.menu-apps .search input {
  border: 0;
  outline: 0;
  padding: 9px;
  width: 92%;
  border-radius: 5px;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.menu-apps .list ul li {
  margin-top: 9px;
  list-style-type: none;
  cursor: pointer;
}

.menu-layout .menu-col {
  display: flex;
  flex-direction: column;
}

.menu-elm {
  width: 39px;
  height: 41px;
  border-radius: 9px;
  background: white;
  color: black;
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-elm svg {
  font-size: 21px;
}

/* Window Element */
.window {
  position: absolute;
  min-height: 170px;
  min-width: 152px;
  width: 520px;
  border-radius: 8px;
  margin: 1rem;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  touch-action: none;
  box-sizing: border-box;
  background: #1e1e1e;
  overflow: hidden;
}

.window.maximized {
  top: 0;
  left: 0;
  width: 100vw !important;
  height: calc(100vh - 60px) !important;
  margin: 0;
}

.window.moved {
  z-index: 500;
}

.window.active {
  z-index: 100;
}

.window.blocked {
  z-index: 1 !important;
}

.window.active .border-window {
  border-color: rgb(25,87,67) !important;
}

.window.active .draggable-window {
  background-color: rgb(25,87,67);
}

.draggable-window {
  width: 100%;
  background-color: #333;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  position: relative;
  z-index: 55;
  border-bottom: 1px solid #222;
}

.draggable-window span {
  flex: 1;
}

.actions {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.actions div {
  cursor: pointer;
}

.border-window {
  border: 2px solid #444;
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.window.maximized .border-window {
  border-radius: 0 !important;
}

.window iframe,
.window embed {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

/* App Switcher */
.app-switcher {
  background-color: #5a5757;
  color: white;
  position: fixed;
  padding: 0 10px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  height: 13vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.app-switcher h3 {
  text-align: center;
}

.app-switcher .app {
  background-color: #333;
  margin: 4px 0;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s all;
}

.app-switcher .app:hover {
  background-color: black;
  opacity: 0.7;
}

/* Other */
compatibility-error {
  display: none;
  position: fixed;
  color: red;
}

@keyframes loading_anim {
  0% { transform: scale(1); }
  75% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

@media screen and (max-width: 640px) {
  .app-switcher {
    padding-bottom: 22px;
    height: unset;
  }
}

@media screen and (max-width: 355px) {
  compatibility-error {
    display: block;
  }
  body {
    background-color: black;
  }
  #web-os {
    display: none;
  }
}
